
@{
    ViewBag.Title = "PcTopla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section mainCss{
    <link rel="stylesheet" href="~/css/pc.css">
    
}
<div class="clearfix"></div>

<div class="PcTopla">
    <div class="PcHeader">
        <span>PC topla +</span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <section id="nested">
                    <div data-foldable-role="group" class="group">
                        <button class="btnParent" data-foldable-role="trigger">Islemci  <i class="fas fa-chevron-down"></i></button>
                        <div data-foldable-role="target" id="target">
                            <!-- Nested group -->
                            <div data-foldable-role="group">
                                <div class="trigger" data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <a class="ProName" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <!-- more nested groups... -->
                        </div>
                    </div>
                    <div data-foldable-role="group" class="group">
                        <button class="btnParent" data-foldable-role="trigger">Islemci <i class="fas fa-chevron-down"></i></button>
                        <div data-foldable-role="target" id="target">
                            <!-- Nested group -->
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <!-- more nested groups... -->
                        </div>
                    </div>
                    <div data-foldable-role="group" class="group">
                        <button class="btnParent" data-foldable-role="trigger">Islemci <i class="fas fa-chevron-down"></i></button>
                        <div data-foldable-role="target" id="target">
                            <!-- Nested group -->
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <!-- more nested groups... -->
                        </div>
                    </div>
                    <div data-foldable-role="group" class="group">
                        <button class="btnParent" data-foldable-role="trigger">Islemci <i class="fas fa-chevron-down"></i></button>
                        <div data-foldable-role="target" id="target">
                            <!-- Nested group -->
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <!-- more nested groups... -->
                        </div>
                    </div>
                    <div data-foldable-role="group" class="group">
                        <button class="btnParent" data-foldable-role="trigger">Islemci <i class="fas fa-chevron-down"></i></button>
                        <div data-foldable-role="target" id="target">
                            <!-- Nested group -->
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="btnPro">Elave et</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <!-- more nested groups... -->
                        </div>
                    </div>
                    <div data-foldable-role="group" class="group">
                        <button class="btnParent" data-foldable-role="trigger">Islemci <i class="fas fa-chevron-down"></i></button>
                        <div data-foldable-role="target" id="target">
                            <!-- Nested group -->
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <!-- more nested groups... -->
                        </div>
                    </div>
                    <div data-foldable-role="group" class="group">
                        <button class="btnParent" data-foldable-role="trigger">Islemci <i class="fas fa-chevron-down"></i></button>
                        <div data-foldable-role="target" id="target">
                            <!-- Nested group -->
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <!-- more nested groups... -->
                        </div>
                    </div>
                    <div data-foldable-role="group" class="group">
                        <button class="btnParent" data-foldable-role="trigger">Islemci <i class="fas fa-chevron-down"></i></button>
                        <div data-foldable-role="target" id="target">
                            <!-- Nested group -->
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div data-foldable-role="group">
                                <div data-foldable-role="trigger">
                                    <article class="foldable__item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="imgProduct">
                                                    <img class="img-fluid" src="images/Monitor-PNG-Image-500x472.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="ProText">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque?</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="ProMarka">
                                                    <b>AMD</b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ProPrice">
                                                    <span>250,00AZN</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btnPro">Əlavə Et</button>
                                                <a href="#" class="showPro">Məhsula bax +</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <!-- more nested groups... -->
                        </div>
                    </div>
                    <!-- more groups... -->
                </section>
            </div>
            <div class="col-md-4">
                <div class="PcText">
                    <div class="Ptext">
                        <p>Hele mehsul elave edilmiyib</p>
                        <div class="col-md-12 buy-pro">
                            <div class="row">
                                <div class="col-md-7">
                                    <a class="pc-name-text" href="#">Lorem ips distinctio tempore ere aliquam, deserunt tempora aut velit enim!</a>
                                </div>
                                <div class="col-md-4">250AZN</div>
                                <div class="col-md-1"><i class="fas fa-times"></i></div>
                            </div>
                        </div>
                        <div class="col-md-12 buy-pro">
                            <div class="row">
                                <div class="col-md-7">
                                    <a class="pc-name-text" href="#">Lorem ips distinctio tempore ere aliquam, deserunt tempora aut velit enim!</a>
                                </div>
                                <div class="col-md-4">250AZN</div>
                                <div class="col-md-1"><i class="fas fa-times"></i></div>
                            </div>
                        </div>
                        <div class="col-md-12 buy-pro">
                            <div class="row">
                                <div class="col-md-7">
                                    <a class="pc-name-text" href="#">Lorem ips distinctio tempore ere aliquam, deserunt tempora aut velit enim!</a>
                                </div>
                                <div class="col-md-4">250AZN</div>
                                <div class="col-md-1"><i class="fas fa-times"></i></div>
                            </div>
                        </div>
                        <div class="col-md-12 buy-pro">
                            <div class="row">
                                <div class="col-md-7">
                                    <a class="pc-name-text" href="#">Lorem ips distinctio tempore ere aliquam, deserunt tempora aut velit enim!</a>
                                </div>
                                <div class="col-md-4">250AZN</div>
                                <div class="col-md-1"><i class="fas fa-times"></i></div>
                            </div>
                        </div>
                        <div class="col-md-12 buy-pro">
                            <div class="row">
                                <div class="col-md-7">
                                    <a class="pc-name-text" href="#">Lorem ips distinctio tempore ere aliquam, deserunt tempora aut velit enim!</a>
                                </div>
                                <div class="col-md-4">250AZN</div>
                                <div class="col-md-1"><i class="fas fa-times"></i></div>
                            </div>
                        </div>
                        <div class="col-md-12 buy-pro">
                            <div class="row">
                                <div class="col-md-7">
                                    <a class="pc-name-text" href="#">Lorem ips distinctio tempore ere aliquam, deserunt tempora aut velit enim!</a>
                                </div>
                                <div class="col-md-4">250AZN</div>
                                <div class="col-md-1"><i class="fas fa-times"></i></div>
                            </div>
                        </div>
                        <div class="col-md-12 buy-pro">
                            <div class="row">
                                <div class="col-md-7">
                                    <a class="pc-name-text" href="#">Lorem ips distinctio tempore ere aliquam, deserunt tempora aut velit enim!</a>
                                </div>
                                <div class="col-md-4">250AZN</div>
                                <div class="col-md-1"><i class="fas fa-times"></i></div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="PcButton">
                    <div class="row">
                        <div class="col-md-6 mt-1"><p class="PcPrice">2500 Azn</p></div>
                        <div class="col-md-6 mt-2"><button class="btnPro">Səbətə Əlavə Et</button></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!--/#content-->
@section mainJS{

    <script src="~/js/pctopla.js"></script>
}