@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        <link rel="stylesheet" href="~/css/shop.css">

    </head>

<section id="Shop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="ShopCategory" data-aos="fade-right">
                    @foreach (var item in collection)
                    {
                        <button style="border-bottom:1px solid #e7c14e" class="accordion"><span><i class="fas fa-tv"></i>&nbsp; &nbsp; Komputerler</span></button>
                    }
                    <div class="panel">
                        <p><a href="">hp</a></p>
                        <p><a href="">hp</a></p>
                        <p><a href="">hp</a></p>
                    </div>

                    <button class="accordion"><i class="fas fa-laptop-code"><span></i>&nbsp; &nbsp; Pc topla +</span></button>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" data-aos="fade-left">
                    <div class="col-md-3">
                        <div class="shopImg">
                            <img class="shop-img" src="images/41gldik51pL._SX425_.jpg" alt="">
                            <div class="img-text">
                                <span>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</span>
                                <p>25,00 AZN</p>
                                <button type="button" class="btn btn-warning">Sebete elave et</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="shopImg">
                            <img class="shop-img" src="images/41gldik51pL._SX425_.jpg" alt="">
                            <div class="img-text">
                                <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                <p>25,00 AZN</p>
                                <button type="button" class="btn btn-warning">Sebete elave et</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="shopImg">
                            <img class="shop-img" src="images/41gldik51pL._SX425_.jpg" alt="">
                            <div class="img-text">
                                <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                <p>25,00 AZN</p>
                                <button type="button" class="btn btn-warning">Sebete elave et</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="shopImg">
                            <img class="shop-img" src="images/41gldik51pL._SX425_.jpg" alt="">
                            <div class="img-text">
                                <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                <p>25,00 AZN</p>
                                <button type="button" class="btn btn-warning">Sebete elave et</button>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="shopDiv mt-5" data-aos="fade-left">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="shopImg">
                                <img class="shop-img" width="200" height="200" src="images/41gldik51pL._SX425_.jpg" alt="">
                                <div class="img-text">
                                    <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                    <p>25,00 AZN</p>
                                    <button type="button" class="btn btn-warning">Sebete elave et</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="shopImg">
                                <img class="shop-img" width="200" height="200" src="images/41gldik51pL._SX425_.jpg" alt="">
                                <div class="img-text">
                                    <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                    <p>25,00 AZN</p>
                                    <button type="button" class="btn btn-warning">Sebete elave et</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="shopImg">
                                <img class="shop-img" width="200" height="200" src="images/41gldik51pL._SX425_.jpg" alt="">
                                <div class="img-text">
                                    <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                    <p>25,00 AZN</p>
                                    <button type="button" class="btn btn-warning">Sebete elave et</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="shopImg">
                                <img class="shop-img" width="200" height="200" src="images/41gldik51pL._SX425_.jpg" alt="">
                                <div class="img-text">
                                    <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                    <p>25,00 AZN</p>
                                    <button type="button" class="btn btn-warning">Sebete elave et</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shopDiv mt-5" data-aos="fade-left">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="shopImg">
                                <img class="shop-img" width="200" height="200" src="images/41gldik51pL._SX425_.jpg" alt="">
                                <div class="img-text">
                                    <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                    <p>25,00 AZN</p>
                                    <button type="button" class="btn btn-warning">Sebete elave et</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="shopImg">
                                <img class="shop-img" width="200" height="200" src="images/41gldik51pL._SX425_.jpg" alt="">
                                <div class="img-text">
                                    <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                    <p>25,00 AZN</p>
                                    <button type="button" class="btn btn-warning">Sebete elave et</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="shopImg">
                                <img class="shop-img" width="200" height="200" src="images/41gldik51pL._SX425_.jpg" alt="">
                                <div class="img-text">
                                    <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                    <p>25,00 AZN</p>
                                    <button type="button" class="btn btn-warning">Sebete elave et</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="shopImg">
                                <img class="shop-img" width="200" height="200" src="images/41gldik51pL._SX425_.jpg" alt="">
                                <div class="img-text">
                                    <h6>GIGABYTE B360M-DS3H (LGA1151/Intel/Micro ATX/USB 3.1)</h6>
                                    <p>25,00 AZN</p>
                                    <button type="button" class="btn btn-warning">Sebete elave et</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/shop.js"></script>

