@using TexnoGallery.ViewModel.Default
@model DefaultViewModel

<div class="header-yel mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="two-menu">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                        <span>Kateqoriyalar</span>
                    </a>
                </div>

                @*<div class="menu-vertical">
                    <ul class="menu-content">
                        @foreach (var item in Model.CategoryName)
                        {
                        <li class="laber-cart level-1 parent">
                            <a href="Shop.html" class="laber">
                                <div class="laber-content">
                                    <i class="fas fa-desktop"></i>
                                    <span>@item.Name</span>
                                </div>
                            </a>
                            <i class="fas fa-chevron-right laber-icon"></i>
                            <div class="drop-menu  pl-3">
                                <div class="drop-menu-title pl-3">
                                  @item.Name
                                </div>
                                <ul>
                                    @foreach (var subItem in item.SubCategory)
                                    {

                                    <li class="pb-2">
                                        <a href="Shop.html">@subItem.Name</a>
                                    </li>
                                    }
                                </ul>
                            </div>

                        </li>
                        }*@

                @*<li class="level-1 parent">
                        <a href="Shop.html" class="laber">
                            <div class="laber-content">
                                <i class="fas fa-laptop"></i>
                                <span>Noutbuklar</span>

                            </div>
                        </a>
                        <i class="fas fa-chevron-right laber-icon"></i>
                        <div class="drop-menu  pl-3">
                            <div class="drop-menu-title pl-3">
                                Noutbuklar
                            </div>
                            <ul>
                                <li class="pb-2">
                                    <a href="Shop.html">MSİ</a>
                                </li>
                                <li class="pb-2"><a href="Shop.html">Acer</a></li>
                                <li class="pb-2"><a href="Shop.html">Asus</a></li>
                                <li class="pb-2"><a href="Shop.html">HP</a></li>
                                <li class="pb-2"><a href="Shop.html">Lenovo</a></li>
                            </ul>
                        </div>

                    </li>
                    <li class="level-1 parent">
                        <a href="javascript:void(0)" class="laber">
                            <div class="laber-content">
                                <i class="fas fa-print"></i>
                                <span>Əlavə Qurğular</span>
                            </div>
                        </a>
                        <i class="fas fa-chevron-right laber-icon"></i>
                        <div class="drop-menu  pl-3">
                            <div class="drop-menu-title pl-3">
                                Əlavə Qurğular
                            </div>
                            <ul>
                                <li class="pb-2">
                                    Monitorlar
                                </li>
                                <li class="pb-2"><a href="Shop.html">Proyektorlar</a></li>
                                <li class="pb-2"><a href="Shop.html">Printerlər</a></li>
                                <li class="pb-2"><a href="Shop.html">Skanerlər</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="level-1 parent">

                        <a href="Shop.html" class="laber">
                            <div class="laber-content">
                                <i class="fas fa-cogs"></i>
                                <span>Komponentlər</span>
                            </div>
                        </a>
                        <i class="fas fa-chevron-right laber-icon"></i>
                        <div class="drop-menu  pl-3">
                            <div class="drop-menu-title pl-3">
                                Komponentlər
                            </div>
                            <ul>
                                <li class="pb-2">
                                    Ana Platalar
                                </li>
                                <li class="pb-2"><a href="Shop.html">Cpu-Prosessorlar</a></li>
                                <li class="pb-2"><a href="Shop.html">Ram-Operativ Yaddaşlar</a></li>
                                <li class="pb-2"><a href="Shop.html">Videokartlar</a></li>
                                <li class="pb-2"><a href="Shop.html">Kulerlər</a></li>
                                <li class="pb-2"><a href="Shop.html">Yaddaş Qurğuları-HDD,SDD</a></li>
                                <li class="pb-2"><a href="Shop.html">Qida Blokları</a></li>
                                <li class="pb-2"><a href="Shop.html">Sistem Blokları-Caselər</a></li>

                            </ul>
                        </div>

                    </li>
                    <li class="level-1 parent">
                        <a href="Shop.html" class="laber">
                            <div class="laber-content">
                                <i class="fas fa-headphones-alt"></i>
                                <span>Aksesuarlar</span>
                            </div>
                        </a>
                        <i class="fas fa-chevron-right laber-icon"></i>
                        <div class="drop-menu  pl-3">
                            <div class="drop-menu-title pl-3">
                                Aksesuarlar
                            </div>
                            <ul>
                                <li class="pb-2">
                                    <a href="Shop.html">Qulaqlıq (Headphone)</a>
                                </li>
                                <li class="pb-2"><a href="Shop.html">Maus</a></li>


                            </ul>
                        </div>

                    </li>
                    <li class="level">
                        <a href="Pc.html" class="laber">
                            <i class="fas fa-plus"></i>
                            <span>PC Topla</span>
                        </a>
                    </li>*@

            </div>
            <div class="col-md-7">
                @using (Html.BeginForm("SearchPro", "Home", FormMethod.Get, new { encytpe = "multipart/form-data", @class = "search-form" }))
                {
                    <div class="input-group mt-2">
                        <input type="search" class="form-control search-field" id="search" placeholder="Search" aria-label="Search" aria-describedby="Search" name="SearchText">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
