body{
    margin: 0;
    padding: 0;
}
#Shop{
    margin: 50px 0;
}
.hr{
    h1{
        margin-bottom: 20px;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }
}

.ShopCategory{
    background-color: #fff;
    border: 1px solid #ffc107;
   
    button{
    font-family: 'Quicksand', sans-serif;
   box-shadow: none;
    outline: none;

    }
}

.accordion {
    float: left;
    padding: 15px 0;
    color: #3c3c3c;
    font-size: 20px;
    &:hover{
        color: #3c3c3c;
    }
  }
  .accord-icon{
      padding: 18px 0;
      font-size: 20px;
      &:hover{
      cursor: pointer;
      }
  }

  
  .panel {
    padding: 0 18px;
    display: none;
    color: #3c3c3c;
    overflow: hidden;
    &.panelactive{
        display: block;
    }
    a{
        color: #3c3c3c;
    }
    p{
        border-left:3.5px solid #ffc107;
        margin-left: 20px;
        margin-top: 10px;
        padding-left: 10px;
    }
  }
.shopImg{
    border:1px solid #ffc107;
    
    background: white;
    .shop-img{
        width: 100%;
        height: 100%;
    }
    .img-text{
        text-align: center;
       padding:  2.0em 1em;
        h6{
        font-family: 'Quicksand', sans-serif;

            font-weight: bold;
        } 
        p{
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
        }
        button{
            color: white;
        }
    }
    h3{
        color: #3c3c3c;
    }
    &:hover{
        box-shadow:2px 5px 10px #ccc;
    }
}

.price_range{
    width: 100%;
        .num{
            border: 1px solid #d8d8d8;
            border-radius: 4px;
            display: block;
            height: 45px;
            font-size: 15px;
            color: #3c3c3c;
            padding: 0 20px;
            box-sizing: border-box;
            width: 100%;
            &:focus{
                outline: #3c3c3c;
               
            }
        }
    span{
        font-size: 20px;
        font-weight: bold;
        color: #3c3c3c;
    }
 
}

