@using TexnoGallery.ViewModel.Default
@model DefaultViewModel

<!-- ABOUT START -->
<section id="AboutUs">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div data-aos="fade-right" class="hr"><hr></div>
                <div class="About-text" data-aos="fade-right">
                    <h1>@Model.aboutTech.Title</h1>
                    <p>
                        @Model.aboutTech.Description
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="AboutImage" data-aos="fade-left">
                    <img class="img-fluid" src="~/Uploads/@Model.aboutTech.AboutImage" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT end -->
<!--Services-->

<div class="Services mb-5">
    <div class="container-fluid bg-white">
        <div class="row pt-5 pb-5">
            <div class="col-md-4">
                <div class="serv text-center" data-aos="flip-up">
                    <div class="serv-icon text-center">
                        <i class="fas fa-shipping-fast fa-3x pt-4 serv-img"></i>
                    </div>
                    <div class="serv-title">
                        <h5>PULSUZ ÇATDIRILMA</h5>
                        <p>Şəhər daxili pulsuz çatdırılma.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="serv text-center" data-aos="flip-up">
                    <div class="serv-icon text-center">
                        <i class="fas fa-lock fa-3x pt-4 serv-img"></i>
                    </div>
                    <div class="serv-title">
                        <h5>ZƏMANƏT</h5>
                        <p>Alınan bütün mallara zəmanət.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="serv text-center" data-aos="flip-up">
                    <div class="serv-icon text-center">
                        <i class="fas fa-history fa-3x pt-4 serv-img"></i>
                    </div>
                    <div class="serv-title">
                        <h5>ONLAYN DƏSTƏK 24/7</h5>
                        <p>Hər zaman online dəstək.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--End of the Services-->