@using TexnoGallery.ViewModel.Default
@model DefaultViewModel


<!--Slider-->
<section id="container">
    <div id="slider-container">
        <ul class="images-container">
            @foreach (var slideItem in Model.SlideImage)
            {
                <li>
                    <img class="slide-img" src="~/Uploads/@slideItem.SlideImg">
                </li>
            }


        </ul>
        <span class="arrow a-left"></span>
        <span class="arrow a-right"></span>
        <div class='bullets-container'></div>
    </div>
</section>
<!--End of the Slider-->
<!--Category-->
<section id="category">
    <div class="container-fluid text-center mt-5 mb-5">
        <div class="row" data-aos="fade-down">
            <div class="col-md-6 col-sm-6 col-lg-3 text-white">
                <div class="all-categ" style="background-image: url(images/hkc-hkc-at24a-64gb-nl-all-in-one-pc.png)">
                    <div class="categ-content">
                        <h2>Kompüterlər</h2>
                        <p>Ən Son Modellər!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3 text-white">
                <div class="all-categ" style="background-image: url(images/purepng.com-laptoplaptoptechnologyelectronicskeyboard-1121525119750ab9ua.png)">
                    <div class="categ-content">
                        <h2>Noutbuklar</h2>
                        <p>Geniş Seçim İmkanı!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="all-categ text-white" style="background-image: url(images/Monitor-PNG-Image-500x472.png)">
                    <div class="categ-content">
                        <h2>Monitorlar</h2>
                        <p>Yüksək Keyfiyyətdə!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3 text-white">
                <div class="all-categ" style="background-image: url(images/computer-accessories.png)">
                    <div class="categ-content">
                        <h2>Aksesuarlar</h2>
                        <p>Seçilmiş Məhsullar!</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row two-categ" data-aos="fade-up">
            <div class="col-md-6 col-sm-6 col-lg-3 text-white">
                <div class="all-categ" style="background-image: url(images/printer.png)">
                    <div class="categ-content">
                        <h2>Əlavə Qurğular</h2>
                        <p>Yeni Texnologiyalar!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3 text-white">
                <div class="all-categ" style="background-image: url(images/amd-vs-intel.png)">
                    <div class="categ-content">
                        <h2>Komponentlər</h2>
                        <p>Hər İstəyə Uyğun!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3 text-white">
                <div class="all-categ" style="background-image: url(images/159-1594018_lmp-mini-displayport-to-hdmi-adapter-usb-cable.png)">
                    <div class="categ-content">
                        <h2>Adapter və Çevirici</h2>
                        <p>Her isteye uygun!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3 text-white">
                <div class="all-categ" style="background-image: url(images/Gaming-Computer-PNG-Photo.png)">
                    <div class="categ-content">
                        <h2>PC Topla +</h2>
                        <p>Seçimini Özün Et!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End of the Category-->
<!--Products-->
<section id="products" class="products mb-5">
    <div class="container">
        <h2>Yeni Məhsullar</h2>

    </div>
    <div class="container-fluid slide-bord" data-aos="fade-right">
        <hr>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide2.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>

            <div class="item">
                <img src="images/slide5.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/a1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/G1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="container mt-5">
        <h2>Endirimli Məhsullar</h2>

    </div>
    <div class="container-fluid slide-bord" data-aos="fade-left">
        <hr>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide2.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>

            <div class="item">
                <img src="images/slide5.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/a1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/G1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-5">
        <h2>Endirimli Məhsullar</h2>

    </div>
    <div class="container-fluid slide-bord" data-aos="fade-right">
        <hr>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide2.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>

            <div class="item">
                <img src="images/slide5.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/a1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/G1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" alt="texno">
                <div class="slide-title text-center">
                    <h3>235 AZN</h3>
                    <p>Case Thermaltake Versa H26 – ATX Mid Tower Case (CA-1J5-00M1WN-00)</p>
                </div>
            </div>
        </div>
        <hr>
    </div>



</section>
<!--End of the Products-->
<!--Brands-->
<section id="brands">
    <div class="container mt-5">
        <h2>Brendlər</h2>

    </div>
    <div class="container-fluid slide-bord  mb-5 ">
        <hr>
        <div class="owl-carousel owl-theme">
            @foreach (var BrendPh in Model.BrendPhoto)
            {
                <div class="item pl-5" style="width: 150px">
                    <img class="img-responsive" src="~/Uploads/@BrendPh.BrendImg">
                </div>
            }
        </div>
    </div>
</section>
<!--End of the Brands-->
<!--Statistics-->
<section id="stat" class="stat mb-5">
    <div class="container-fluid">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <div class="stat-items">
                    <i class="fas fa-chart-line"></i>
                    <h2 class="mt-2 mb-2">
                        <span class="counter text-center">2500</span>
                        <span>+</span>
                    </h2>
                    <p>Site Visits</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stat-items">
                    <i class="far fa-smile-beam"></i>
                    <h2 class="mt-2 mb-2">
                        <span class="counter text-center">1720</span>
                        <span>+</span>
                    </h2>
                    <p>Happy Clients</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stat-items">
                    <i class="fas fa-chart-line"></i>
                    <h2 class="mt-2 mb-2">
                        <span class="counter text-center">2500</span>
                        <span>+</span>
                    </h2>
                    <p>Site Visits</p>
                </div>
            </div>


        </div>
    </div>
</section>
<!--End of the Statistics-->
<!--Services-->
<section id="services">
    <div class="Services mb-5">
        <div class="container-fluid bg-white">
            <div class="row pt-5 pb-5">
                <div class="col-md-4">
                    <div class="serv text-center">
                        <div class="serv-icon text-center">
                            <i class="fas fa-shipping-fast fa-3x pt-4 serv-img"></i>
                        </div>
                        <div class="serv-title">
                            <h5>PULSUZ ÇATDIRILMA</h5>
                            <p>Şəhər daxili pulsuz çatdırılma.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="serv text-center">
                        <div class="serv-icon text-center">
                            <i class="fas fa-lock fa-3x pt-4 serv-img"></i>
                        </div>
                        <div class="serv-title">
                            <h5>ZƏMANƏT</h5>
                            <p>Alınan bütün mallara zəmanət.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="serv text-center">
                        <div class="serv-icon text-center">
                            <i class="fas fa-history fa-3x pt-4 serv-img"></i>
                        </div>
                        <div class="serv-title">
                            <h5>ONLAYN DƏSTƏK 24/7</h5>
                            <p>Hər zaman online dəstək.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End of the Services-->
<!-- map -->
<section id="map">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-7" data-aos="fade-right">
                <div class="mapouter" style="width: 100%">
                    <div class="gmap_canvas" style="width: 100%">
                        <iframe width="100%" height="500" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=texno%20gallery&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">Pureblack.de - Webseite erstellen lassen</a>
                    </div>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 1080px;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 1080px;
                        }
                    </style>
                </div>
            </div>
            <div class="col-md-5" data-aos="fade-left">
                <div class="question">
                    <h4>Bizə Sualınız</h4>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                            <br>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="11"
                                      placeholder="Message"></textarea>
                        </div>
                        <button type="button" class="btn question-btn">Mesaj Göndər</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- map end -->